@import './base';
@import './spacing';
@import './text';
@import '../assets/bootstrap-grid.min.css';


* {
  font-family: $primary-font;
  font-weight: 300;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 0;
}

*:focus {
  outline: none;
}

a {
  color: unset;
  cursor: pointer;
  text-decoration: none;
}

p {
  margin-bottom: 1em;
}

#app {
    min-height: 100vh;
}

::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-track { background: #f1f1f1; }
::-webkit-scrollbar-thumb { background: #888; }
::-webkit-scrollbar-thumb:hover { background: #555; }
