@font-face {
  font-family: 'Hand Boys';
  src: url('../fonts/Hand Boys.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Dosis';
  src: url('../fonts/Dosis-ExtraLight.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Dosis';
  src: url('../fonts/Dosis-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Dosis';
  src: url('../fonts/Dosis-Regular.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Dosis';
  src: url('../fonts/Dosis-SemiBold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Dosis';
  src: url('../fonts/Dosis-ExtraBold.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}


