@import '../../styles/base';

.home {
  display: flex;
  flex-direction: column;

  .page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.title {
  flex: 0 0;
  margin: 10px 0;
  width: 120px;
  text-align: center;

  @media (min-width: $breakpoint-lg) {
    width: 100%;
    font-size: 50px;
  }
}

.menus {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  flex-wrap: wrap;

  .menu {
    flex: 1 0;
    flex-basis: 120px;
    text-align: center;
    padding: 7px;

    div {
      font-family: $accent-font;
      font-size: $font-size-lg;
    }
  }

  .menu:nth-child(1) { background-color: $light-blue; }
  .menu:nth-child(2) { background-color: $light-orange; }
  .menu:nth-child(3) { background-color: $light-red; }
  .menu:nth-child(4) { background-color: $light-yellow; }
  .menu:nth-child(5) { background-color: $light-purple; }
}

.carousel-container {
  width: 100%;
  flex: 1 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.second.page {
  display: flex;
  flex-direction: column;

  @media (min-width: $breakpoint-md) {
    flex-direction: row;
  }

  .join {
    flex: 1 1;
    display: flex;
    justify-content: center;
    align-items: center;

    .circle {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: 20px;
      padding: 20px;
      border-radius: 50%;
      width: 200px;
      height: 200px;
      background-color:$light-brown;
      color: white;

      span {
        font-family: $accent-font;
        font-size: $font-size-md;
        font-weight: 900;
      }

      @media (min-width: $breakpoint-md) {
        width: 350px;
        height: 350px;

        span {
          font-size: $font-size-xl;
        }
      }
    }
  }

  .questions {
    flex: 2 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;

    @media (min-width: $breakpoint-lg) {
      flex-direction: row;
    }

    .question {
      max-width: 40%;
      margin: 10px;
      background-color: $light-green;
      transition: transform .75s ease;
      cursor: pointer;

      .question-header, .question-body {
        padding: 10px;
      }

      .question-header {
        background-color: $green;
        font-weight: 700;
        text-align: center;
      }

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

.footer {
  background-color: #c7cbe6;
  padding-top: 20px;
  padding-bottom: 20px;

  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    h3 {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
}
