@import '../../styles/base';

.home {
  display: flex;
  flex-direction: column;

  .page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.carousel-container {
  width: 100%;
  flex: 1 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.second.page {
  display: flex;
  align-items: center;
  flex-direction: column;

  @media (min-width: $breakpoint-md) {
    flex-direction: row;
  }

  .join {
    flex: 1 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-self: stretch;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color:$light-brown;
    color: white;
    @extend %has-shadow;

    h1 {
      font-size: 40px;
    }
  }

  .faq {
    flex: 2 2;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    h2, p {
      margin: 1em 0;
    }

    .questions {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;

      .question {
        margin: 10px;
        padding: 10px;
        max-width: 40%;

        background-color: $green;
        font-size: .7em;
        font-weight: 700;
        text-align: center;
        transition: transform .75s ease;
        cursor: pointer;
        @extend %has-shadow;

        display: flex;
        justify-content: center;
        align-items: center;

        @media (min-width: $breakpoint-lg) {
          max-width: 30%;
          font-size: 1em;
        }

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}
