$primary-color: #f5c936;
$accent-color: #212121;
$white: #fdfdfd;

$green: #a3cf44;
$light-blue: #caebd7;
$light-brown: #836d65;
$light-green: #d2e38c;
$light-orange: #ffd0a1;
$light-purple: #af8ba9;
$light-red: #ffd4c5;
$light-yellow: #fff28b;
