// @import url('https://fonts.googleapis.com/css?family=Indie+Flower');
// @import url('https://fonts.googleapis.com/css?family=Dosis:100,300,500,600,900');
// move to head in index.html to load faster

$primary-font: 'Dosis', 'Raleway', sans-serif;
$accent-font: 'Indie Flower', cursive;
$font-size: 14px;
$font-size-xl: 20px;
$font-size-lg: 18px;
$font-size-md: 14px;
$font-size-sm: 12px;
$font-size-xs: 10px;
